:root {
  --dark-magenta: #502050;
  --soft-pink: #ee68a4;
  --dark-gray: #937b92;
  --light-gray: #f7f2f7;
  --just-white: #ffffff;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Spartan', sans-serif;
  font-size: 62.5%;
}

.main {
  padding: 80px 20px;
  background-image: url('../images/bg-pattern-top-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

/* Main description */
.main__description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 110px);
}
.description__title {
  padding: 0 10px;
  font-size: 2.9rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark-magenta);
  line-height: 1;
}
.description__p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-gray);
  text-align: center;
}

/* Main ratings */
.main__ratings {
  display: grid;
  grid-template-columns: minmax(280px, 380px);
  grid-template-rows: repeat(3, 70px);
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
}
.ratings__container {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  background-color: var(--light-gray);
}
.rating__stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating__stars div{
  width: 25px;
  height: 25px;
  display: inline-block;
  background-image: url('../images/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.ratings__container p {
  padding-top: 8px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--dark-magenta);
}

/* User experience */
.main__reviews {
  display: grid;
  grid-template-columns: minmax(260px, 300px);
  grid-template-rows: repeat(3, 220px);
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.reviews__container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 40% 60%;
  padding: 30px 25px;
  background-color: var(--dark-magenta);
  border-radius: 10px;
}
.reviewer__photo {
  align-self: center;
  width: 40px;
  height: 40px;
}
.reviewer__photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.review__info {
  align-self: center;
  padding-left: 15px;
}
.info__name {
  color: white;
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.info__verified {
  font-size: 1.2rem;
  color: var(--soft-pink);
}
.reviews__opinion {
  grid-column: 1 / -1;
  padding-top: 10px;
  font-size: 1.2rem;
  line-height: 18px;
  color: var(--just-white);
}





/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}