.main {
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 500px));
    grid-template-rows: 280px 500px;
    padding: 100px 30px 0 30px;
}

.main__description {
    grid-template-rows: repeat(2, 50%);
    padding: 10px;
}
.description__title {
    padding: 0;
    font-size: 3.5rem;
    text-align: start;
}
.description__p {
    text-align: start;
}

.main__ratings {
    padding: 0 10px;
    grid-template-rows: repeat(3, 60px);
    margin: 0;
}



.main__reviews {
    grid-column: 1 / -1;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 220px);
    grid-template-areas: "uno dos"
                         "tres tres";
}
.first {
    grid-area: uno;
}
.second {
    grid-area: dos;
}
.third {
    grid-area: tres;
    width: 300px;
    margin: 0 auto;
}