:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-gray: hsl(303, 10%, 53%);
  --light-gray: hsl(300, 24%, 96%);
  --just-white: #ffffff;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Spartan', sans-serif;
  font-size: 62.5%;
}

.main {
  padding: 80px 20px;
  background-image: url('./images/bg-pattern-top-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

/* Main description */
.main__description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 110px);
}
.description__title {
  padding: 0 10px;
  font-size: 2.9rem;
  font-weight: 700;
  text-align: center;
  color: var(--dark-magenta);
  line-height: 1;
}
.description__p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-gray);
  text-align: center;
}

/* Main ratings */
.main__ratings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 70px);
  gap: 20px;
}
.ratings__container {
  display: grid;
  grid-template-rows: repeat(2, 50%);
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  background-color: var(--light-gray);
}
.rating__stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating__stars div{
  width: 25px;
  height: 100%;
  display: inline-block;
  background-image: url('./images/icon-star.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.ratings__container p {
  padding-top: 8px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--dark-magenta);
}





/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}