* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Alata', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
}

/* HEADER */
.header-container {
    width: 100%;
    height: 100vh;
    padding: 0 20px;
    background-image: url('../images/mobile/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.logo {
    width: 150px;
}
.logo img {
    width: inherit;
}
.header__nav {
    display: none;
}

.nav__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    color: white;
    list-style: none;
}
.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
}

.header__description {
    display: flex;
}
.description__container {
    border: 2px solid white;
    padding: 20px;
    margin-top: 100px;
}
.description__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: white;
}

/* MAIN */
.main {
    width: 100%;
    padding: 100px 20px;
}
/* Main intro */
.intro {
    margin-bottom: 100px;
}
.intro__image {
    width: 100%;
}
.intro__image img {
    width: inherit;
}
.intro__text-container {
    margin-top: 50px;
}
.second__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.intro__info {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: rgb(140, 140, 140);
}

/* Creations */
.creations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px repeat(8, 120px) 60px;
    gap: 20px;
}
.creations__item:before {
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
.creations__item {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.creations__item p {
    z-index: 0;
}
.earth {
    background-image: url('../images/mobile/image-deep-earth.jpg');
}
.night {
    background-image: url('../images/mobile/image-night-arcade.jpg');
}
.soccer {
    background-image: url('../images/mobile/image-soccer-team.jpg');
}
.grid {
    background-image: url('../images/mobile/image-grid.jpg');
}
.from-up {
    background-image: url('../images/mobile/image-from-above.jpg');
}
.pocket {
    background-image: url('../images/mobile/image-pocket-borealis.jpg');
}
.curiosity {
    background-image: url('../images/mobile/image-curiosity.jpg');
}
.fisheye {
    background-image: url('../images/mobile/image-fisheye.jpg');
}

.creations__all {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    justify-self: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: black;
    background-color: white;
    border: 2px solid rgb(105, 105, 105);
}


/* FOOTER */
.footer {
    display: grid;
    grid-template-columns: minmax(260px, 500px);
    grid-template-rows: 40px 200px 40px 60px 40px;
    justify-items: center;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 50px 20px 0 20px;
    background-color: black;
}
.footer > ul > .list__item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}
.footer__social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.social-link__item {
    width: 20px;
    height: 20px;
}
.footer__rights {
    font-family: 'Alata', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    color: #696969;
}









/* Atribution */
.attribution {
    font-size: 1.2rem;
    text-align: center;
    color: #696969;
}
.attribution a {
    color: #696969;
}